.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3, h4
{
  text-align: left;
  padding: 15px 4px 15px 4px;
  font-weight: bold;
  font-size: 18px;
  color: #3b6291;
  /*border: 1px solid silver;*/
  /*width: 500px;*/
}

.htmlReport
{
  padding-left: 20px;
  text-align: left;
}

.htmlReport img
{
  padding: 0px;
  border: 1px solid silver;
}

.htmlReport table
{
  width: 500px;
  border: 1px solid silver;
  /*padding: 3px 30px 3px 3px;*/
}

.htmlReport td
{
  padding: 3px 3px 3px 10px;
}

.htmlReport td:nth-child(even)
{
  /*background-color: silver;*/
  width: 60%;
}

.htmlReport td:nth-child(odd)
{
  font-weight: bold;
}

.htmlReport tr:nth-child(even)
{
  /*background-color: silver;*/
  /*background-color: #92a2a7;*/

  background-color: #edf2f8;
}

.htmlReport tr:nth-child(odd)
{
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: silver; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #323352; 
}